.btn {
  position: relative;
  display: inline-block;
  padding: $s0 $s4;
  color: $white;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 3px;
  cursor: pointer;
  @include transition;
  &--sm { padding: $s-1 $s3; font-size: 12px; }
  &--lg { padding: $s1 $s5; font-size: 14px; }
  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; }
  }
  &--turquoise { background-color: $turquoise;
    &:hover { background-color: $turquoise-dark; }
  }
  &--outline {
    color: inherit;
    &:before {
      // button border within original padding
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 1px;
      border-style: solid;
      border-radius: inherit;
      @include transition;
    }
  }
  &--outline-orange {
    &:before { border-color: $orange; }
    &:hover {
      color: $white;
      background-color: $orange;
      &:before { border-color: $orange; }
    }
  }
  &--outline-turquoise {
    &:before { border-color: $turquoise; }
    &:hover {
      color: $white;
      background-color: $turquoise;
      &:before { border-color: $turquoise; }
    }
  }
}

.link {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 15px;
  margin-top: 1.5em;
  color: $grey-darkest;
  display: inline;
  border-bottom: 2px solid transparent;
  &:hover {
    text-decoration: none;
    border-bottom: 2px solid $turquoise;
  }
  &--arrow:after {
    content: "";
    background-image: url("../img/icons/link-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -2px;
    width: 16px; height: 16px;
    @include transition;
  }
  &--arrow:hover { border: 0; }
  &--arrow:hover:after {
    margin-left: 16px;
  }
}