// styles for logos on site

.logo {
  display: inline-block;
  width: 100%;
  &--se {
    max-width: 140px;
    transform: translateY(1px);
    @include bp($md){ max-width: 170px; }
    &-sm {
      max-width: 120px;
      transform: translateY(4px);
    }
  }
  &--partner { // max-width for this is about 150x46px
    max-width: 145px;
    &-sm { max-width: 100px; }
  }
}