---
layout: default
---


<div class="vpad--xxl bg--grey-lightest">
  <div class="container">
    <div class="width width--xl text--center text--xxxl">
      <p>{{site.description}}</p>
      {% if page.primary-cta %}
        <div class="space--sm">
          <a id="track-intro-btn-offers" href="{{page.primary-cta.link}}" class="btn btn--lg btn--outline btn--outline-orange">{{page.primary-cta.label}}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="content-spacing section-spacing">

  <!-- loops through section file for page content -->
  {% for section in page.sections %}
    <div id="{{section.id}}" class="js-nav-section vpad--xxxl bg__fixed">
      <div class="bg__fixed-wrap">
        <div class="bg__fixed-img" style="background-image: url('{{site.img}}/content/{{section.id}}/bg.jpg');"></div>
      </div>
      <div class="container">

        <div class="width width--xl text--center">
          <div class="text--wide text--upper text--xxl text--medium">{{section.subtitle}}</div>
          <h2 class="title title--xxl">{{section.title}}</h2>
          <div class="space--sm"></div>
          {{section.description}}
          <div class="space--sm"></div>
          <a id="track-section-{{section.id}}-btn-offers" href="{{section.link}}" class="hyperlink hyperlink--arrow">See Offers</a>
        </div>

        <div class="space--xl"></div>

        <div class="row row--xxl-6-6 pois">
          {% for poi in section.pois.items %}
          <div class="col">
            <div class="poi">
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{section.id}}/pois/{{poi.id}}.jpg');"></div>
              <div class="boxpad--lg">
                <div class="title title--xs">{{poi.title}}</div>
                {{poi.description-html}}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  {% endfor %}

  <!-- Offers section -->
  <div id="offers" class="js-nav-section">
    <div class="space--xxxxl"></div>
    <div class="text--center">
      <div class="title title--xl">Our best Ireland escapes</div>
      <div class="space--xxs"></div>
      <div class="title title--xxs sub-title">Discover Derry~Londonderry and Donegal</div>
    </div>
    <div class="space--xl"></div>

    {% assign offers = site.data.offers | sort: 'price' %}
    <div class="container">
      <div class="row row--xl-6-6 row--gutters-lg">
        {% for offer in offers %}
          <div class="col">
            {% include offer/offer.html %}
          </div>
        {% endfor %}
      </div>
    </div>


    <div class="space--xxxxl"></div>
    <div class="text--center">
      <div class="title title--xl">Discover wider Ireland</div>
    </div>
    <div class="space--xl"></div>

    {% assign extra-offers = site.data.extra-offers | sort: 'price' %}
    <div class="container">
      <div class="row row--xl-6-6 row--gutters-lg">
        {% for offer in extra-offers %}
          <div class="col">
            {% include offer/offer.html %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="space--xxxl"></div>
    {% include page/promo-offers.html %}
  </div>

</div>
